
<div class="container">

  <div class="item">
    <h2>Task: <%= @task.title %></h2>
  </div>

  <div class="item">
    <p> Details: <%= @task.details %></p>
  </div>

  <div class="item">
    <%if (@task.completed == true) %>
      <p> Completed: Yes </p>
    <% else %>
      <p> Completed: No </p>
    <%end %>
  </div>

  <div class="item">
    <p> Created: <%= @task.created_at %></p>
  </div>

  <div class="item">
    <p><%= link_to "Update Task", edit_path, class: "btn-ghost" %></p>
    <p><%= link_to "Back to list", tasks_path, class: "btn-ghost" %></p>
  </div>

</div>
